@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Roboto:ital,wght@0,300;0,400;1,300&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'DM-Sans', 'Roboto';
    color: #777777;
}
h1, h2, h3, h4{
    font-family: 'Rubik';
}

